
/* basic icons set up */

.bws-icon {
    display: inline-block;
    font-size: inherit;
    height: 2rem;
    width: 2rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.bws-icon-2x {
    height: 4rem;
    width: 4rem;
}
.bws-icon-3x {
    height: 6rem;
    width: 6rem;
}
.bws-icon-4x {
    height: 8rem;
    width: 8rem;
}
.bws-icon-5x {
    height: 10rem;
    width: 10rem;
}

/* icons list */

.bws-icon-email { background-image: url('../images/icons/email.svg'); }