<!-- index.njk -->
{% extends "layouts/default.njk" %}
{% import "macros.njk" as macros %}

{% block title %}Home{% endblock %}

{% set activePage = "home" %}

{% block navigation %}
    <!-- navbar -->
    {% include "includes/navbar.njk" %}
    <!-- end navbar -->
{% endblock navigation %}

{% block content %}
    <!-- body -->
    <!-- end body -->
{% endblock %}